[submodule "anya-enterprise"]
    path = anya-enterprise
    url = git@github.com:botshelomokoka/anya-enterprise.git
	branch = main
    update = rebase
[submodule "anya/enterprise"]
	path = anya/enterprise
	url = https://github.com/botshelomokoka/anya-enterprise.git
[submodule "enterprise"]
	path = enterprise
	url = https://github.com/botshelomokoka/anya-enterprise.git
[submodule "anya/dash33"]
	path = anya/dash33
	url = https://github.com/botshelomokoka/33dash.git
[submodule "dash33"]
	path = dash33
	url = https://github.com/botshelomokoka/33dash.git
[submodule "dependencies"]
	path = dependencies
	url = https://github.com/botshelomokoka/anya-dependencies.git
