[submodule "enterprise"]
	path = enterprise
	url = https://github.com/botshelomokoka/anya-enterprise.git
	branch = main
	update = merge
	fetchRecurseSubmodules = true

[submodule "dash33"]
	path = dash33
	url = https://github.com/botshelomokoka/dash33.git
	branch = main
	update = merge
	fetchRecurseSubmodules = true

[submodule "dependencies"]
	path = dependencies
	url = https://github.com/botshelomokoka/anya-dependencies.git
	branch = main
	update = merge
	fetchRecurseSubmodules = true

[submodule "mobile"]
	path = mobile
	url = https://github.com/botshelomokoka/anya-mobile.git
	branch = master
	update = merge
	fetchRecurseSubmodules = true

[submodule "core"]
	path = core
	url = https://github.com/botshelomokoka/anya-core.git
	branch = main
	update = merge
	fetchRecurseSubmodules = true
